.notice-list {
  margin-top: 30px;
}
.web-list-category {
  display: none;
}
.list-title {
  margin-top: 150px;
  @include font($h3, $fontWeight: 700);
  text-align: center;
}

.list-category {
  padding: 1rem 0;
  margin: 0 0.75rem;
  background-color: map-get($theme-colors, $secondary);
  border-radius: 30px 30px 0 0;
  width: 100%;
  @include font($p3);
  &:hover {
    @include hoverEffect($background: $background, $color: $primary);
  }
}

.active-cate {
  background-color: map-get($theme-colors, $background);
  color: $primary;
}

.list-content {
  padding: 40px 20px;
  background-color: $background;
}

.list-content-title {
  @include font($p2);
  line-height: 30px;
}

.list-content-detail {
  @include font($p3);
  margin: 24px 0;
  line-height: 24px;
}

.list-content-list {
  list-style: initial;
  li {
    @include font($p3, $fontWeight: bold);
    line-height: 24px;
    p {
      @include font($p3);
    }
  }
  .list-item {
    margin-top: 30px;
    .list-item-title {
      color: map-get($theme-colors, $primary);
      margin: 16px 0;
    }
  }
}

//wealth
.table-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title-row-column {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.data-title {
  text-align: center;
  background-color: $yelloworange;
  padding: 16px 0;
  @include rounded-radius(8px);
  @include font($p2);
}
.row-title {
  background-color: $rowTitle;
  height: 100%;
  @include rounded-radius(8px);
  @include font($p2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail {
  height: 100%;
  @include rounded-radius(8px);
  @include font($p2);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  line-height: 24px;
}

.detail-title {
  background-color: $rowContent;
}
.carousel-control-next-icon {
  background-image: url(../../images/icons/icon-next.svg);
}
.carousel-control-prev-icon {
  background-image: url(../../images/icons/icon-prev.svg);
}
.tab-header {
  background-color: $background;
  @include rounded-radius(50%);
  padding: 20px;
  margin-bottom: 50px;
  box-sizing: border-box;
  overflow: hidden;

  .tab-img {
    margin-top: -10px;
  }
  .tab-title {
    @include font($p2);
  }
}

@media screen and (min-width: 768px) {
  .web-list-category {
    display: flex;
  }
  .phone-list-category {
    display: none;
  }
  .list-content {
    padding: 60px;
  }
  .list-content-title {
    @include font($h3, $fontWeight: 700);
  }
}

@media screen and (min-width: 992px) {
  .notice-list {
    margin-top: 50px;
  }
  .list-category {
    @include font($p2);
  }
  .list-content-detail {
    @include font($p2);
  }
  .list-content-list {
    list-style: initial;
    li {
      @include font($p2, $fontWeight: bold);
      p {
        @include font($p2);
      }
    }
  }
}
