footer {
  background-color: map-get($theme-colors, $secondary);
  padding: 100px 100px 45px;
  text-align: center;
  position: relative;
  h1 {
    font-size: 20px;
    font-weight: 700;
    color: map-get($theme-colors, $black);
  }
  .footer-step {
    width: 160px;
    position: absolute;
    z-index: 1;
    top: -60px;
    left: 50%;
  }
  .footer-item {
    @include font($p2);
    margin-top: 20px;
  }
  .social-media {
    margin-top: 30px;
  }
  .media-link {
    margin: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    .footer-step {
      width: 200px;
      left: 70%;
      top: -80px;
    }
    .footer-item {
      @include font($p1);
      margin: 40px 20px 0;
    }
  }
}

@media screen and (min-width: 992px) {
  footer {
    h1 {
      font-size: 48px;
    }
    .footer-step {
      width: 250px;
      left: 68%;
      top: -80px;
    }
    .social-media {
      margin-top: 40px;
    }
  }
}
