.carousel-button {
  display: flex;
  gap: 16px;
  .carousel-direction {
    background-color: map-get($theme-colors, $background);
    padding: 0.5rem;
    @include rounded-radius(50%);
    cursor: pointer;
    &:hover {
      background-color: map-get($theme-colors, $primary);
      transition: 0.5s;
    }
    svg {
      color: map-get($theme-colors, $primary);
      width: 25px;
      height: 25px;
      &:hover {
        color: map-get($theme-colors, $background);
        transition: 0.5s;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .carousel-button {
    gap: 24px;
    .carousel-direction {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
