@import "../card/contentList.scss";
@import "../card/cardImage.scss";
@import "../carousels/carouselButtons.scss";

.carousels {
  overflow-x: auto;
  margin-top: 32px;
}

.carousel-card {
  width: 320px;
  height: 220px;
  padding: 1rem;
  flex-shrink: 0;
  display: flex;
  gap: 16px;
  background-color: #fffef5;
  @include rounded-radius;
}
.carousel-story-card {
  width: 320px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @include rounded-radius;
  cursor: pointer;
}

.infoCard {
  display: flex;
  gap: 16px;
  background-color: #fffef5;
  @include rounded-radius;
  padding: 1rem;
  height: 250px;
  margin: 16px 0;
}

.carousel-list {
  display: flex;
  gap: 16px;
  position: relative;
  transition: 0.5s;
  left: 0;
}

@media screen and (min-width: 768px) {
  .carousel-card {
    width: 380px;
    height: 280px;
  }
  .infoCard {
    height: 280px;
  }
}

@media screen and (min-width: 992px) {
  .carousel-card {
    width: 430px;
    height: 300px;
  }
  .infoCard {
    height: 300px;
  }
}

@media screen and (min-width: 1200px) {
  .infoCard {
    height: 320px;
  }
}
