.box {
  max-height: auto !important;
  .thumbnails {
    img {
      width: 150px;
      height: 100px;
      @include rounded-radius(10px);
    }
  }
  .active-thumbnail {
    border: $primary solid 2px;
  }
  .fade:not(.show) {
    opacity: 1;
  }
}
