@import "./variables";

@mixin font(
  $fontSize,
  $color: map-get($theme-colors, $black),
  $fontWeight: 500
) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  letter-spacing: 0.05em;
  color: $color;
}

@mixin borderDecoration(
  $px: 3px,
  $style: solid,
  $color: map-get($theme-colors, $primary),
  $padding: 7px
) {
  border-bottom: $px $style $color;
  padding-bottom: $padding;
}

@mixin button(
  $color: map-get($theme-colors, $black),
  $background: map-get($theme-colors, $background),
  $fontSize: $p2
) {
  color: $color;
  background-color: $background;
  font-size: $fontSize;
  @include rounded-radius;
}

@mixin rounded-radius($radius: 20px) {
  border-radius: $radius;
}

@mixin hoverEffect(
  $color: map-get($theme-colors, $background),
  $background: map-get($theme-colors, $transparent)
) {
  color: $color;
  background-color: $background;
  transition: 0.2s;
}
